html {
    font-family: 'Imprima';
    background-color: ivory;
    text-align: center;
    height: 100%;
    width: 100%
}

.navbar {
    background: #3b4e76 center center;
    background-size: cover;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}

.body {
    text-align: center;
    
}
    
nav {
    display: block;
    width: 100%;
    position: sticky;
    text-align: center;
    color: white;
}

nav ul {
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
    text-align: center;
}

nav ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 1.5em 0 1.5em;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color:#3b4e76;
}

nav ul li a, nav ul #dropdown {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    height: 5em;
    line-height: 5em;
    outline: 0;
}

nav li:hover > ul {
    display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


h1 {
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: black;
    font-size: 2.5em;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    color:#3b4e76;
}

h3 {
    letter-spacing: 0.1em;
    font-weight: 100;
    font-size: 1em;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    font-size:22px;
    letter-spacing: 0.075em;
    line-height: 1.35em;
}

footer{
    padding-bottom: 0px;
    padding-top: 10px;
    background-color: #3b4e76;
    color: white;
}

.heading h1 {
    font-size: 2em;
}

.heading {
    height: 370;
    width: 100%;
    background: mistyrose center center;
    background-size: cover;
    margin-top: 0px;
    margin-left: -8px;
    margin-right: -8px;
}

.heading li {
    font-size:22px;
    letter-spacing: 0.075em;
    line-height: 1.35em;
}

.heading a {
    border-radius: 1em;
       border: 2.5px solid #3b4e76;
       padding: 1em 1.5em 1em 1.5em;
       font-size: 0.8em;
       font-weight: bold;
       letter-spacing: 0.1em;
       height: 5em;
       line-height: 5em;
       text-transform: uppercase;
       text-decoration: none;
       color:#3b4e76;
}

.heading a:hover {
  color: orchid;
  background-color: transparent;
  text-decoration: underline;
}

.heading a: link {
  color: #3b4e76;
  background-color: transparent;
  text-decoration: none;
}

.heading a:visited {
  color: navy;
  background-color: transparent;
  text-decoration: none;
}

footer  {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    margin-bottom: -8px;
}

footer a {
    font-size: 15px;
    position: absolute;
    margin-bottom:0px;
}

footer a:link {
  color: mistyrose;
  background-color: transparent;
  text-decoration: none;
}

footer a:visited {
  color: lavender;
  background-color: transparent;
  text-decoration: none;
}

footer a:hover {
  color: orchid;
  background-color: transparent;
  text-decoration: underline;
}

footer img {
    width: 40px;
}

ul {
  list-style-position: inside;
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  background-color: "lavender";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  /* Footer height */
  text-align: center;
  right: 0;
  left: 0;
  bottom: 0;
}

.content {
    position: relative;
    min-height: 100%;
    margin: 0;
    width: 100%;
     
}

.header1 {
    position: fixed;
    height: 100%;
    width: 100%;
    
}

.card {
  --bg: ivory;
  --hover-bg: #3b4e76;
  --hover-text: white;
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card__body {
  color: orchid;
  line-height: 1.5em;
  font-size: 1em;
}

.card > :not(span) {
  transition: .3s cubic-bezier(.6,.4,0,1);
}

.card > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -.035em;
}

.card span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all .3s cubic-bezier(.6,.4,0,1);
}

.card:hover span {
  top: 0;
  font-size: 1.2em;
}

.card:hover {
  background: var(--hover-bg);
}

.card:hover>div,.card:hover>strong {
  opacity: 0;
}
