body {
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    background-color: lightcyan;
    text-align: center;
}
nav {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: sticky;
    color: black;
}

nav ul {
    display: inline-block;
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px black;
    padding: 0 1.5em 0 1.5em;
}

nav ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 1.5em 0 1.5em;
}

nav ul li ul {
    display: none;
    position: absolute;
}

nav ul li a, nav ul #dropdown {
    color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    height: 5em;
    line-height: 5em;
    outline: 0;
}

nav li:hover > ul {
    display: block;
}
